<img alt="background" class="bg" src="http://cr7wallpapers.com/wp-content/uploads/2014/12/Cristiano-Ronaldo-black-and-white-wallpaper.jpg">
<div>
<h3><%= @fantasy_league.name %></h3>

<% @fantasy_league.fantasy_teams.each do |i| %>
  <%= i.name %>
<% end %>

</div>
<br>
<%= link_to('Add Fantasy Team', new_fantasy_league_fantasy_team_path(@fantasy_league)) %>
<%= link_to('Edit', edit_fantasy_league_path(@fantasy_league)) %>
<%= link_to('Back', fantasy_leagues_path) %>
<%= link_to('Draft', draft_fantasy_league_path(@fantasy_league), method: :put) %>
<%= link_to('Pick Team', fantasy_league_fantasy_teams_path(@fantasy_league)) %>
</div>