<img src="/images/hazard.jpg" class= "bg mobinvis" alt="background">
<div class ="infoarea">
<h2><%= @fantasy_league.name %></h2>

<% @fantasy_league.fantasy_teams.each do |i| %>
  <div class="type1"><%= i.name %></div>
<% end %>

</div>
<br>
<%= link_to('Add Fantasy Team', new_fantasy_league_fantasy_team_path(@fantasy_league)) %>
<%= link_to('Edit', edit_fantasy_league_path(@fantasy_league)) %>
<%= link_to('Back', fantasy_leagues_path) %>
<%= link_to('Draft', draft_fantasy_league_path(@fantasy_league), method: :put) %>
<%= link_to('Pick Team', fantasy_league_fantasy_teams_path(@fantasy_league)) %>
</div>