<!DOCTYPE html>
<html>
<head>
  <title>Draftplay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="top box box-12">
    <% if user_signed_in? %>
    <nav class="menu">
      <ul>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </nav>
    <% else %>
    <nav class="menu">
      <ul>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>
      </ul>
    </nav>
    <% end %>
  </div>

  <div class="mid box box-4">
    <div class="panel">
    <img class="logo-img" src="http://i.imgur.com/YQVhwzl.png">
    </div>
  </div>

  <div class="mid box box-4">
    <div class="panel">
<!--     <img class="logo2-img" src="http://www.fantasyfootballgeek.co.uk/wp-content/uploads/2014/12/giroud.png"> -->
    </div>
  </div>

  <div class="mid box box-4">
    <div class="panel">
    </div>
  </div>

  <div class="bottom box box-12">
    <nav class="menu">
      <ul>
        <li><%= link_to "Teams", fantasy_teams_path %></li>
        <li><%= link_to "Leagues", fantasy_leagues_path %></li>
      </ul>
    </nav>
  </div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</body>
</html>
